//variables
$dark: #000000;
$light: #ffffff;
$main:#e0e0e0;
$primary:#8C44F7;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Oswald:wght@400;500;700&display=swap');
//font-family: 'Montserrat', sans-serif;
//font-family: 'Oswald', sans-serif;
//basics
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: $main;
    color: $dark;
}

//navbar
nav{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
    //style
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    .logo{
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
    }
    ul{
        display: flex;
        justify-content: space-between;
        width: 40%;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: $dark;
                &:hover{
                    color: $primary;
                    transition: 0.5s;
                }
            }
        }
    }
}
